<ol class="breadcrumb">
  <li>{{#link-to 'index'}}Devs{{/link-to}}</li>
  <li>{{#link-to 'user' user}}{{user.name}}{{/link-to}}</li>
  <li>{{#link-to 'repositories' user}}Repositories{{/link-to}}</li>
  <li>{{name}}</li>
</ol>

<h3>{{name}}</h3>

<p>
  {{#if description}}
    {{description}}
  {{else}}
    No description
  {{/if}}
</p>

<table class="repo-details">
  <tbody>
    <tr>
      <td>Language:</td>
      <td>{{language}}</td>
    </tr>
    <tr>
      <td>Open Issues:</td>
      <td>{{#link-to 'issues'}}{{open_issues_count}}{{/link-to}}</td>
    </tr>
    <tr>
      <td>Watchers:</td>
      <td>{{watchers_count}}</td>
    </tr>
    <tr>
      <td>Forks:</td>
      <td>{{#link-to 'forks'}}{{forks_count}}{{/link-to}}</td>
    </tr>
    <tr>
      <td>Clone:</td>
      <td><strong>{{clone_url}}</strong></td>
    </tr>
    <tr>
      <td>Page:</td>
      <td><a {{bind-attr href=html_url}} target="_blank">{{html_url}}</a></td>
    </tr>
  </tbody>
</table>

{{#if fork}}
<small class="text-muted">
  Forked from
  {{#link-to 'repository' parent.owner.login parent.name}}{{parent.full_name}}{{/link-to}}
  {{from-date created_at}}
</small>
{{/if}}

<hr>

<ul class="list-inline">
  <li>{{#link-to 'issues'}}Issues{{/link-to}}</li>
  <li>{{#link-to 'forks'}}Forks{{/link-to}}</li>
  <li>{{#link-to 'commits'}}Commits{{/link-to}}</li>
</ul>

{{outlet}}
